table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 19px;
}
body{
background-color: lightgray;
}
h2{
    text-align: center;
}
th,td{
    border: 1px solid darkgray;
    padding: 10px;
    text-align: center;
}
th {
    /* background-color: #53f859; */
    color: black;
}
tr:nth-child(odd) {
    background-color: #f2f2f2; /* Alternate row color */
}
tr:nth-child(even){
    background-color: pink;
}
tr:hover {
    background-color: #ddd; /* Highlight on hover */
}
